.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);
	min-height: 100vh;

	@media only screen and (max-width: $dp-large) {
		margin: 0;
	}
}
.header {
	height: 7rem;
	border-bottom: var(--line);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;

	@media only screen and (max-width: $dp-smallest) {
		flex-wrap: wrap;
		height: 12rem;
		align-content: space-around;
	}
}
.content {
	display: flex;
	flex-direction: row;
	@media only screen and (max-width: $dp-small) {
		flex-direction: column;
	}
}
.sidebar {
	background-color: var(--color-grey-dark-1);
	flex: 0 0 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media only screen and (max-width: $dp-small) {
	}
}
.hotel-view {
	background-color: var(--color-grey-light-1);

	flex: 1;
}
.detail {
	display: flex;
	padding: 4.5rem;
	border-bottom: var(--line);
	font-size: 1.4rem;
	@media only screen and (max-width: $dp-small) {
		padding: 2rem;
	}
	@media only screen and (max-width: $dp-xsmall) {
		flex-direction: column;
		margin-bottom: 3rem;
	}
}
.description {
	background-color: white;
	box-shadow: var(--shadow-light);
	padding: 3rem;
	flex: 0 0 60%;
	margin-right: 4.5rem;
	@media only screen and (max-width: $dp-small) {
		margin-right: 3rem;
	}
}
.user-reviews {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.overview {
	display: flex;
	align-items: center;
	border-bottom: var(--line);
}
